HTTP 404 error during initial run

Using `opam-publish` (2.2.0) for the first time, after entering a PAT I recieved:

<details><summary>Error</summary>
<p>

```
Cloning the package repository, this may take a while...
+ /usr/bin/git "clone" "git@github.com:ocaml/opam-repository.git" "/home/brian/.opam/plugins/opam-publish/repos/ocaml%opam-repository"
- Cloning into '/home/brian/.opam/plugins/opam-publish/repos/ocaml%opam-repository'...
Updating files: 100% (29498/29498), done.
[ERROR] HTTP Error 404 Not Found
        Headers:
        Server: GitHub.com
        Date: Mon, 03 Apr 2023 18:54:04 GMT
        Content-Type: application/json; charset=utf-8
        Content-Length: 104
        X-OAuth-Scopes: 
        X-Accepted-OAuth-Scopes: 
        github-authentication-token-expiration: 2023-04-10 18:51:03 UTC
        X-GitHub-Media-Type: github.v3; format=json
        x-github-api-version-selected: 2022-11-28
        X-RateLimit-Limit: 5000
        X-RateLimit-Remaining: 4987
        X-RateLimit-Reset: 1680549846
        X-RateLimit-Used: 13
        X-RateLimit-Resource: core
        Access-Control-Expose-Headers: ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit,
        X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes,
        X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation,
        Sunset
        Access-Control-Allow-Origin: *
        Strict-Transport-Security: max-age=31536000; includeSubdomains; preload
        X-Frame-Options: deny
        X-Content-Type-Options: nosniff
        X-XSS-Protection: 0
        Referrer-Policy: origin-when-cross-origin, strict-origin-when-cross-origin
        Content-Security-Policy: default-src 'none'
        Vary: Accept-Encoding, Accept, X-Requested-With
        X-GitHub-Request-Id: BF6A:1D13:3CD60:7D7CE:642B20CB

        Body:
        {"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/repos#create-a-fork"}


```
</p>
</details> 

Output of `opam list`:

<details><summary>Details</summary>
<p>

```
# Packages matching: installed
# Name                # Installed # Synopsis
angstrom              0.15.0      Parser combinators built for speed and memory-efficiency
asn1-combinators      0.2.6       Embed typed ASN.1 grammars in OCaml
astring               0.8.5       Alternative String module for OCaml
atd                   2.11.0      Parser for the ATD data format description language
atdgen                2.11.0      Generates efficient JSON serializers, deserializers and validators
atdgen-runtime        2.11.0      Runtime library for code generated by atdgen
base                  v0.15.1     Full standard library replacement for OCaml
base-bigarray         base
base-bytes            base        Bytes library distributed with the OCaml compiler
base-threads          base
base-unix             base
base64                3.5.1       Base64 encoding for OCaml
bigstringaf           0.9.1       Bigstring intrinsics and fast blits based on memcpy/memmove
biniou                1.2.2       Binary data format designed for speed, safety, ease of use and backward compatibility as protocols evolve
bos                   0.2.1       Basic OS interaction for OCaml
ca-certs              0.2.3       Detect root CA certificates from the operating system
camlp-streams         5.0.1       The Stream and Genlex libraries for use with Camlp4 and Camlp5
cmdliner              1.1.1       Declarative definition of command line interfaces for OCaml
cohttp                5.0.0       An OCaml library for HTTP clients and servers
cohttp-lwt            5.0.0       CoHTTP implementation using the Lwt concurrency library
cohttp-lwt-unix       5.0.0       CoHTTP implementation for Unix and Windows using Lwt
conduit               6.2.0       A network connection establishment library
conduit-lwt           6.2.0       A portable network connection establishment library using Lwt
conduit-lwt-unix      6.2.0       A network connection establishment library for Lwt_unix
conf-gmp              4           Virtual package relying on a GMP lib system installation
conf-gmp-powm-sec     3           Virtual package relying on a GMP lib with constant-time modular exponentiation
conf-libssl           4           Virtual package relying on an OpenSSL library system installation
conf-pkg-config       2           Check if pkg-config is installed and create an opam switch local pkgconfig folder
cppo                  1.6.9       Code preprocessor like cpp for OCaml
csexp                 1.5.1       Parsing and printing of S-expressions in Canonical form
cstruct               6.2.0       Access C-like structures directly from OCaml
domain-name           0.4.0       RFC 1035 Internet domain names
dune                  3.7.0       Fast, portable, and opinionated build system
dune-configurator     3.7.0       Helper library for gathering system configuration
duration              0.2.1       Conversions to various time units
easy-format           1.3.4       High-level and functional interface to the Format module of the OCaml standard library
eqaf                  0.9         Constant-time equal function on string
fmt                   0.9.0       OCaml Format pretty-printer combinators
fpath                 0.7.3       File system paths for OCaml
github                4.4.1       GitHub APIv3 OCaml library
github-data           4.4.1       GitHub APIv3 data library
github-unix           4.4.1       GitHub APIv3 Unix library
gmap                  0.3.0       Heterogenous maps over a GADT
ipaddr                5.4.0       A library for manipulation of IP (and MAC) address representations
ipaddr-sexp           5.4.0       A library for manipulation of IP address representations using sexp
jsonm                 1.0.2       Non-blocking streaming JSON codec for OCaml
logs                  0.7.0       Logging infrastructure for OCaml
lwt                   5.6.1       Promises and event-driven I/O
lwt_ssl               1.2.0       OpenSSL binding with concurrent I/O
macaddr               5.4.0       A library for manipulation of MAC address representations
magic-mime            1.3.0       Map filenames to common MIME types
menhir                20220210    An LR(1) parser generator
menhirLib             20220210    Runtime support library for parsers generated by Menhir
menhirSdk             20220210    Compile-time library for auxiliary tools related to Menhir
mirage-crypto         0.11.1      Simple symmetric cryptography for the modern age
mirage-crypto-ec      0.11.1      Elliptic Curve Cryptography with primitives taken from Fiat
mirage-crypto-pk      0.11.1      Simple public-key cryptography for the modern age
mirage-crypto-rng     0.11.1      A cryptographically secure PRNG
num                   1.4         The legacy Num library for arbitrary-precision integer and rational arithmetic
ocaml                 4.14.0      The OCaml compiler (virtual package)
ocaml-base-compiler   4.14.0      Official release 4.14.0
ocaml-compiler-libs   v0.12.4     OCaml compiler libraries repackaged
ocaml-config          2           OCaml Switch Configuration
ocaml-options-vanilla 1           Ensure that OCaml is compiled with no special options enabled
ocaml-syntax-shims    1.0.0       Backport new syntax to older OCaml versions
ocamlbuild            0.14.2      OCamlbuild is a build system with builtin rules to easily build most OCaml projects
ocamlfind             1.9.6       A library manager for OCaml
ocamlgraph            2.0.0       A generic graph library for OCaml
ocplib-endian         1.2         Optimised functions to read and write int16/32/64 from strings and bigarrays
opam-core             2.1.4       Core library for opam 2.1
opam-file-format      2.1.6       Parser and printer for the opam file syntax
opam-format           2.1.4       Format library for opam 2.1
opam-publish          2.2.0       A tool to ease contributions to opam repositories
opam-repository       2.1.4       Repository library for opam 2.1
opam-state            2.1.4       State library for opam 2.1
parsexp               v0.15.0     S-expression parsing library
pbkdf                 1.2.0       Password based key derivation functions (PBKDF) from PKCS#5
ppx_derivers          1.2.1       Shared [@@deriving] plugin registry
ppx_sexp_conv         v0.15.1     [@@deriving] plugin to generate S-expression conversion functions
ppxlib                0.29.1      Standard library for ppx rewriters
ptime                 1.1.0       POSIX time for OCaml
re                    1.10.4      RE is a regular expression library for OCaml
result                1.5         Compatibility Result module
rresult               0.7.0       Result value combinators for OCaml
seq                   base        Compatibility package for OCaml's standard iterator type starting from 4.07.
sexplib               v0.15.1     Library for serializing OCaml values to and from S-expressions
sexplib0              v0.15.1     Library containing the definition of S-expressions and some base converters
ssl                   0.5.13      Bindings for OpenSSL
stdlib-shims          0.3.0       Backport some of the new stdlib features to older compiler
stringext             1.6.0       Extra string functions for OCaml
topkg                 1.0.7       The transitory OCaml software packager
uri                   4.2.0       An RFC3986 URI/URL parsing library
uri-sexp              4.2.0       An RFC3986 URI/URL parsing library
uutf                  1.0.3       Non-blocking streaming Unicode codec for OCaml
x509                  0.16.4      Public Key Infrastructure (RFC 5280, PKCS) purely in OCaml
yojson                2.0.2       Yojson is an optimized parsing and printing library for the JSON format
zarith                1.12        Implements arithmetic and logical operations over arbitrary-precision integers
```


</p>
</details> 

This seems to be unrelated to the old issue #104 which had a similar error but in a different step of the process

It looks like it failed on the fork creation for some reason. Which permissions did you give the github token you've created?

I gave it very minimal permissions, is there a list of which permissions are required for `opam-publish`?

I deleted the stored PAT and created a new one and the issue went away. I think most likely I missed clicking on the `public_repo` permission the first time.